.product-gallery {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border: 2px dashed #262626;
    border-top: none;
    padding: 0;
}


.product-gallery .gallery-main {
    flex: 1.8;
    display: flex;
    width: auto;
    box-sizing: border-box;
    padding: 40px;
    border-right: 2px dashed #262626;
    border-bottom: none;
    border-left: none;
    border-top: none;
}

.product-gallery .gallery-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

.gallery-side {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.gallery-item {
    flex: 1;
    display: flex;
    box-sizing: border-box;
    padding: 40px 0 40px 40px;
    width: 100%;
}

.gallery-item:first-child {
    border-bottom: 2px dashed #262626;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}