.box{
    width: 500px;
    height: 500px;
    background-color: chartreuse;
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.OpswJwVFceXjSTwTY34dBAHaFj?cb=ucfimgc2&rs=1&pid=ImgDetMain&o=7&rm=3");
    background-repeat: no-repeat;
    /*background-position: 100px 100px;*/
    background-size: cover;
}