.box{
    display: none;
    visibility: hidden;
    opacity: 0;
}

span {
    display: inline-block;
    border: 1px solid red;
    width: 100px;
    padding-block: 20px;
    margin-block: 20px;
}

div{
    display: none;
    border: 1px solid red;
}
