
.benefits{
    display: flex;
    gap: 20px;
}
.benefits-item{
    flex-shrink: 1;
    padding: 50px;
    background-color: #FFFFFF;
    border-radius: 12px;
}
.benefit-number{
    font-size: 80px;
    font-weight: bold;
    display: flex;
    justify-content: end;
}
.benefit-title{
    font-weight: 600;
    font-size: 24px;
    margin: 50px 0 14px 0;
}
.benefit-description{
    font-weight: 400;
    font-size: 18px;
    color: #4C4C4D;
}