.faq{
    margin-top: 150px;
    display: flex;
}

.faq--title{
    width: 33%;
    padding: 100px 60px 0 100px;
}

.faq--questions{
    width: 67%;
    margin: 100px 100px 0 60px;
}

.faq--title h2{
    font-size: 48px;
    line-height: 120%;
}

.faq--title p{
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 50px;
}
.faq--title a{
    font-size: 18px;
    line-height: 150%;
    padding: 18px 24px;
    border: 1px solid #F1F1F3;
    border-radius: 12px;
    display: inline-block;
}
.faq--question--title{
    font-size: 20px;
    line-height: 150%;
    display: flex;
    justify-content: space-between;
}
.faq--question--answer--content{
    margin: 50px auto;
}