*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter,sans-serif;
}
body{
    background-color: #F7F7F8;
}
.container{
    max-width: 1600px;
    margin: 30px auto;
}
.bg__white{
    background-color: #FFFFFF;
}