body{
    height: 2000px;
}

.box{
    width: 400px;
    height: 300px;
    border: 1px solid red;
    margin: 30px auto;
    position: relative;
}

.item{
    width: 150px;
    height: 50px;
    background: green;
    color: #fff;
    border: 1px solid #fff;
}

.item:nth-child(1){
    /*margin-top: -20px;*/
    /*margin-left: -10px;*/
    position: relative;
    top: 100%;
    left: calc(100% - 150px);

}

.item:nth-child(2){
    position: absolute;
    background: red;
    /*margin: 30px;*/
    left: 0;
    bottom: 0;
}

.item:nth-child(3){
    position: fixed;
    right: 0;
    bottom: 0;
}

/*.item:nth-child(4){*/
/*    position: fixed;*/
/*    width: auto;*/
/*    height: auto;*/
/*    inset: 20px;*/
/*}*/

.box2{
    width: 400px;
    height: 300px;
    border: 1px solid red;
    margin: 30px auto;
    position: relative;
}

.item2{
    width: 150px;
    height: 50px;
    background: green;
    color: #fff;
    border: 1px solid #fff;
}

.item2:nth-child(1){
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.item2:nth-child(2){
    position: relative;
    bottom: 20px;
    right: 0;
    z-index: 2;
}

.item2:nth-child(2){
    position: relative;
    z-index: 2;
}