*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-bar img{
    border-radius: 5px;
    margin-top: 5px;
}

.header-bar{
    border-bottom: 1px solid blue;
}

.header-bar .header-bar--content{
    width: 600px;
    margin: auto;
    position: relative;
}

.header-bar nav{
    position: absolute;
    right: 0;
    top: 16px;
}

.header-bar nav li{
    padding: 5px 0;
}

.header-bar nav > ul > li{
    display: inline-block;
    list-style: none; /*mat dau cham*/
}

.header-bar nav a{
    text-decoration: none; /*mat dau ganh chan*/
    color: red;
    padding: 10px;
}

.header-bar nav li:hover{
    background-color: #ffe7c3;
    cursor: pointer;
}

.header-bar nav li:hover > ul{
    display: block;
    cursor: pointer;
}

.header-bar nav li ul{
    display: none;
    position: absolute;
    list-style: none;
    top: 30px;
}

.header-bar nav li ul li{
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}





