*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

.header-bar img{
    border-radius: 5px;
    margin-top: 5px;
}

.header-bar{
    border-bottom: 1px solid blue;
}

.header-bar .header-bar--content{
    width: 600px;
    margin: auto;
}

.header-bar nav{
    display: inline-block;
}

.header-bar nav ul li{
    list-style: none;
    display: inline-block;
}






