*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}
/*reset css*/

.modal-dialog{
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    z-index: 999;
    background: white;
    border: 1px solid #ccc;
    width: 80%;
    margin: auto;
    padding: 15px;
}

.modal-dialog .modal-heading{
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.modal-dialog .modal-heading h2{
    display: inline-block;
    width: 95%;
}

.modal-overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.58);
    z-index: 998;
}